n8n-workflows/heartbeat-cron-trigger.json
{
  "name": "Heartbeat Cron Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "heartbeat-cron-node",
      "name": "Cron Trigger (Every 30 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://gateway:8000/api/v1/heartbeat/trigger",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "http-request-heartbeat",
      "name": "HTTP Request: Trigger Heartbeat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "heartbeat-success-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-heartbeat-success",
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://gateway:8000/api/v1/webhooks/telegram/message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "={{ $env.TOPIC_METRICS_ID }}"
            },
            {
              "name": "message",
              "value": "=✅ Heartbeat cycle completed\\n\\nChecks executed: {{ $json.checks_executed }}\\nNotifications sent: {{ $json.checks_notified }}\\nDuration: {{ $json.duration_ms }}ms"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram-success",
      "name": "Telegram: Success Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://gateway:8000/api/v1/webhooks/telegram/message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "topic_id",
              "value": "={{ $env.TOPIC_SYSTEM_ID }}"
            },
            {
              "name": "message",
              "value": "=⚠️ Heartbeat cycle failed\\n\\nStatus: {{ $json.status }}\\nError: {{ $json.error || 'Unknown error' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram-error",
      "name": "Telegram: Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Cron Trigger (Every 30 min)": {
      "main": [
        [
          {
            "node": "HTTP Request: Trigger Heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request: Trigger Heartbeat": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Telegram: Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram: Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "friday-n8n-instance"
  },
  "id": "heartbeat-cron-trigger",
  "tags": [
    {
      "name": "Story 4.1",
      "id": "story-4-1"
    },
    {
      "name": "Heartbeat",
      "id": "heartbeat"
    }
  ]
}
